<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>
        home page
      </title>
  </head>

  <body>
    {{> header}}
    <p>{{welcomemessage}}</p>

    <p>{{screamIt welcomemessage}}</p>

    {{> footer}}

  </body>


</html>
