<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>
        We are currently not working, we will be back!
      </title>
  </head>

  <body>
    
    <p>{{welcomemessage}}</p>

    <p>{{screamIt welcomemessage}}</p>

    {{> footer}}

  </body>


</html>
